<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ufrpe.br.pivotlabs">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_pivot"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".professional_detail.view.ProfessionalDetailActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".professional_select.view.ProfessionalSelectActivity">
        </activity>
        <activity android:name=".signup.view.SignUpActivity">
        </activity>
        <activity android:name=".login.view.InitialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".login.view.UserExistActivity">
        </activity>
        <activity android:name=".about.view.AboutActivity">
        </activity>
        <activity android:name=".main.view.MainActivity">
        </activity>
        <activity android:name=".user.view.UserAreaActivity">
        </activity>
        <activity android:name=".login.view.LoginActivity">
        </activity>
    </application>

</manifest>